<!DOCTYPE html>
<html>
<head>
    <title>Livre {{ id }}</title>
</head>
<body>
    <h1>Livre #{{ id }}</h1>
    <p>Titre: {{ title }}</p>
    
    <p><strong>{{ msg }}</strong></p>
    
    <form method="POST">
        <button type="submit">Modifier</button>
    </form>
</body>
</html>